# Python
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/

# Node / Quasar
node_modules/
.quasar/
dist/
!dist/.gitkeep
quasar.config.*.temporary.compiled*

# OS junk files
.DS_Store
.thumbs.db
