fastapi[all]==0.115.0
starlette_exporter==0.23.0
pydantic==2.9.2
python-slugify==8.0.4
requests==2.32.3
kubernetes==31.0.0
gunicorn==23.0.0
uvicorn[standard]
pytest==8.3.3
pytest-watch==4.2.0
ruff==0.12.0
ipdb
requests-mock
types-python-slugify
types-requests
types-PyYAML